@font-face {
  font-family: "Yeseva One";
  src: url("/s/fonts/yeseva.ttf");
}

@font-face {
  font-family: "Fira Code";
  src: url("/s/fonts/firacode.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("/s/fonts/nunito.ttf");
}

:root {
  --font-size: 24px;
}

body {
  background-color: #040a16;
  color: orange;
  font-size: var(--font-size);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: yellow;
  font-family: "Yeseva One", cursive;
}

a {
  color: darkorange;
}

a:hover {
  color: orangered;
}

a:visited {
  color: chocolate;
}

header {
  background-color: #00495b;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, auto);
  padding: 1rem;
}

header .flat {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
}

header nav {
  display: grid;
  font-family: "Fira Code", monospace;
  grid-column: 1/3;
  grid-row: 2/3;
  grid-template-columns: repeat(10, 1fr) 50%;
  grid-template-rows: 100%;
}

header nav p {
  border-right: #b7550a 4px dotted;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  text-align: center;
}

header nav p:last-of-type {
  border-right: 0;
}

main {
  background-color: var(--color-bg);
  --color-bg: #008b9e;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem;
}

.url {
  background-color: black;
  color: limegreen;
  font-family: "Fira Code", Courier, monospace;
  font-size: 200%;
  font-weight: bold;
  padding: 12px;
}

.pin {
  background-color: saddlebrown;
  color: yellow;
  font-family: "Fira Code", Courier, monospace;
  font-size: 120%;
  padding: 4px;
}


.environ-table {
  border: 1px darkslategrey solid;
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.environ-table .pair {
  background-color: rgba(0, 169, 0, 0.1);
  display: grid;
  font-family: "Fira Code", Courier, monospace;
  font-size: calc(var(--font-size) * 0.5);
  grid-column-gap: 16px;
  grid-template-columns: 24% auto;
  grid-template-rows: 100%;
  padding-left: 8px;
}

.environ-table .pair > p {
  text-align: left;
}

.environ-table .pair > p:nth-of-type(1) {
  font-weight: bold;
}

.environ-table .http {
  background-color: rgba(0, 21, 205, 0.1);
}

.code {
  background-color: #040a16;
  border: #173470 1px solid;
  color: orangered;
  font-family: "Fira Code", monospace;
  padding: 1rem;
}
