h1 {
  color: darkred;
}

.url {
  background-color: black;
  color: limegreen;
  font-family: "Courier New", Courier, monospace;
  font-size: 200%;
  font-weight: bold;
  padding: 12px;
}

.pin {
  background-color: orange;
  font-family: "Courier New", Courier, monospace;
  font-size: 120%;
  padding: 4px;
}


.environ-table {
  border: 1px darkslategrey solid;
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.environ-table .pair {
  background-color: rgba(0, 169, 0, 0.1);
  display: grid;
  font-family: "Courier New", Courier, monospace;
  grid-column-gap: 16px;
  grid-template-columns: 24% auto;
  grid-template-rows: 100%;
  padding-left: 8px;
}

.environ-table .pair > p {
  text-align: left;
}

.environ-table .pair > p:nth-of-type(1) {
  font-weight: bold;
}

.environ-table .http {
  background-color: rgba(0, 21, 205, 0.1);
}
