{% extends "_base.html" %}
{% load static %}

{% block main %}
<h2 id="greeting_display_id">Hello {{ name_header }}</h2>
<p id="address_display_id">You are in {{ address_header }}</p>

<form action="/h/greet/" method="post">
  <p>
    <label for="name_id">Name:</label>
    <input id="name_id" name="name" placeholder="What is your name?" type="text" value="{{ name_value }}">
  </p>
  <p>
    <label for="address_id">Address:</label>
    <input id="address_id" name="address" placeholder="Where are you?" type="text" value="{{ address_value }}">
  </p>
  <p>
    <button id="submit_id" type="submit">Send</button>
  </p>
{% csrf_token %}
</form>

<form action="/h/reset/" method="post">
  <button id="reset_id" type="submit">Reset</button>
{% csrf_token %}
</form>
{% endblock %}