h1 {
    color: #ffff67;
}
body { background-color: #008b9e }
.btn0 {
    display: inline-block; /* Строчно-блочный элемент */
    background: #00495b; /* Серый цвет фона */
    color: #ffff67; /* Белый цвет текста */
    padding: 5px 35px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
.btn1 {
    display: inline-block; /* Строчно-блочный элемент */
    background: #00495b; /* Серый цвет фона */
    color: #ffff67; /* Белый цвет текста */
    padding: 5px 35px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
.btn2 {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 35px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #ffff67; /* Цвет текста */
  }
   .btn2:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #003460, #00495b); /* Градиент */
    color: #ffff67;
   }
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #00495b; /* Цвет линии для остальных браузеров */
    background-color: #00495b; /* Цвет линии для браузера Firefox и Opera */
    height: 4px; /* Толщина линии */
   }

.url {
  background-color: black;
  color: limegreen;
  font-family: "Courier New", Courier, monospace;
  font-size: 200%;
  font-weight: bold;
  padding: 12px;
}

.pin {
  background-color: orange;
  font-family: "Courier New", Courier, monospace;
  font-size: 120%;
  padding: 4px;
}


.environ-table {
  border: 1px darkslategrey solid;
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.environ-table .pair {
  background-color: rgba(0, 169, 0, 0.1);
  display: grid;
  font-family: "Courier New", Courier, monospace;
  grid-column-gap: 16px;
  grid-template-columns: 24% auto;
  grid-template-rows: 100%;
  padding-left: 8px;
}

.environ-table .pair > p {
  text-align: left;
}

.environ-table .pair > p:nth-of-type(1) {
  font-weight: bold;
}

.environ-table .http {
  background-color: rgba(0, 21, 205, 0.1);
}